<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>dnsmasq-web</title>
	</head>
	<style>
		body {
			font-family: monospace;
		}
		th, td {
			text-align: left;
			padding-bottom: 5px;
			padding-right: 30px;
		}
		tr:hover {
			background: #ccc;
		}
	</style>
	<body>
	<table id="leases">
		<tr>
			<th><a href="ipAddress">IP Address</a></th>
			<th><a href="macAddress">Mac Address</a></th>
			<th><a href="name">Name</a></th>
			<th><a href="staticIP">Static IP</a></th>
			<th><a href="leasetime">Lease ends on</a></th>
		</tr>
	</table>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(function() {
			$.getJSON($SCRIPT_ROOT + '/leases/{{ element }}',
			function(data) {
				$('#leases').append(
					$.map(data.leases, function(ignore, index) {
						return '<tr>' +
							'<td>' + data.leases[index].ipAddress + '</td>' +
							'<td>' + data.leases[index].macAddress + '</td>' +
							'<td>' + data.leases[index].name + '</td>' +
							'<td>' + ( (data.leases[index].staticIP) ? 'Yes' : 'No' ) + '</td>' +
							'<td>' + ( (data.leases[index].staticIP) ? 'Never' : data.leases[index].leasetime ) + '</td>' +
							'</tr>';
						}).join());
			});

			return false;
		});
	</script>
	</body>
</html>
